/* .container{
    width: 35%;
    margin: 5% auto;
    margin-top: unset;
    margin-left: 40px;
} */
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_ele{
    width: 400px;
    /* margin: auto; */
}
p{
    color: rgb(107, 115, 120);
    font-weight: 50%;
    margin-left: 74px;
}
.optional_text{
    color: rgb(139, 151, 159);
}